<div class="container">
  <div class="row">
    <!-- Mettez ici le composant exercice 1 -->
    <h2>Exercice 1</h2>
    <div><app-exercice1></app-exercice1></div>
  </div>
  <div class="row">
    <h2>Exercice 2</h2>
    <div><app-exercice2></app-exercice2></div>
  </div>
  <div class="row">
    <!-- Mettez ici le composant exercice 3 -->
    <h2>Exercice 3</h2>
    <div><app-exercice3></app-exercice3></div>
  </div>
  <div class="row">
      <!-- Mettez ici le composant exercice 4 -->
      <h2>Exercice 4</h2>
      <div><app-exercice4></app-exercice4></div>
    </div>
</div>